.ua-icon {
    display: inline-block;
    width: 1pc;
    height: 1pc;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-top
}

.icon-360 {
    background-image: url(../img/ua/360.png)
}

.icon-android {
    background-image: url(../img/ua/android.png);
    height: 19px
}

.icon-apple {
    background-image: url(../img/ua/apple.png)
}

.icon-baidu {
    background-image: url(../img/ua/baidu.png)
}

.icon-chrome {
    background-image: url(../img/ua/chrome.png)
}

.icon-edge {
    background-image: url(../img/ua/edge1.png)
}

.icon-edge-chromium {
	background-image: url(../img/ua/edge2.png)
}

.icon-firefox {
    background-image: url(../img/ua/firefox.png)
}

.icon-google {
    background-image: url(../img/ua/google.png)
}

.icon-ie {
    background-image: url(../img/ua/ie.png)
}

.icon-liebao {
    background-image: url(../img/ua/liebao.png)
}

.icon-linux {
    background-image: url(../img/ua/linux.png)
}

.icon-mac {
    background-image: url(../img/ua/mac.png)
}

.icon-maxthon {
	background-image: url(../img/ua/maxthon.png)
}

.icon-opera {
    background-image: url(../img/ua/opera.png)
}

.icon-qq {
    background-image: url(../img/ua/qq.png)
}

.icon-quark {
    background-image: url(../img/ua/quark.png)
}

.icon-safari {
    background-image: url(../img/ua/safari.png)
}

.icon-ubuntu {
    background-image: url(../img/ua/ubuntu.png)
}

.icon-uc {
    background-image: url(../img/ua/uc.png)
}

.icon-win1 {
    background-image: url(../img/ua/win1.png)
}

.icon-win2 {
    background-image: url(../img/ua/win2.png)
}