/*夜间模式*/ 
.icon-light-mode {
	position: relative;
	color: #777;
}
.icon-dark-mode {
	position: relative;
	color: #ffc107;
}
.night {
	background-color: #151617 !important;
	color: #a0a0a0 !important;
}
.night .navbar-header {
	background-color: #1D1F20 !important;
	color: #a0a0a0 !important;
}
.night .dedediy-icon {
	fill: #a0a0a0 !important;
}
.night .navbar-collapse {
	background-color: #1D1F20 !important;
	color: #a0a0a0 !important;
}
.night #easyLogin .wrapper, .night #easyLogin .dropdown-menu {
	background-color: #151617 !important;
}
.night #easyLogin .dropdown-menu>li>a {
	color: #a0a0a0 !important;
}
.night .dropdown-menu>.active>a, .night .dropdown-menu>.active>a:focus, .night .dropdown-menu>.active>a:hover, .night .dropdown-menu>li>a:focus, .night .dropdown-menu>li>a:hover {
	background-color: #1D1F20 !important;
}
.night #aside {
	background-color: #1D1F20 !important;
	color: #a0a0a0 !important;
}
.night .normal-shadow {
	box-shadow: 2px 2px 3px transparent !important;
}
.night #left_footer{
	background-color: #1D1F20 !important;
	color: #a0a0a0 !important;
}
.night .bg-white .dk, .night .bg-white .dker, .night .bg-white .lt, .night .bg-white .lter {
    background-color: transparent !important;
}
.night .bg-light .dk, .night .bg-light.dk {
	background-color: transparent !important;
}
.night .bg-white-only {
    background-color: #1D1F20 !important;	
}
.night .nav-tabs>li.active>a, .night .nav-tabs>li.active>a:focus, .night .nav-tabs>li.active>a:hover {
	color: #a0a0a0 !important;	
}
.night .navs-slider-bar {
	background-color: #a0a0a0 !important;
}
.night .panel, .night .single-post, .night .single-post.panel {
	background-color: #1D1F20 !important;
}
.night .dropdown-menu .panel {
	border-radius: 0 !important;
}
.night .bg-light.panel-footer, .night .panel-footer {
	background-color: #1D1F20 !important;
}
.night .panel-footer {
	border-top: 1px solid #333 !important;
}
.night .panel.time-machine {
	background-color: #1D1F20 !important
}
.night .timeMachine .comment-parent {
	border-bottom-color: transparent !important;
}
.night .about.panel .list-group-item {
	border-color: #333 !important;
}
.night .i-switch i:before {
	border:1px solid #19a9d5 !important;
	background-color: #19a9d5 !important;
}
.night .i-switch i:after {
	background-color: #fff !important;
}
.night .time-machine .arrow.left , .night .time-machine .arrow.left:after {
	border-right-color: #151617 !important;
}
.night .b-l {
	border-left: 1px solid #333 !important;
}
.night .b-b {
    border-bottom: 1px solid #333 !important;
}
.night .single-post.panel {
	border: 1px solid #1D1F20 !important;
}
.night .wrapper.bg-info {
	background-color: #151617 !important;
}
.night .arrow.top.arrow-info:after {
	border-bottom-color: #151617 !important;
}
.night .tab-content .wrapper-md.tab-pane,
.night .wrapper-md.widget {
	background-color: #1D1F20 !important;
}
.night #post-panel {
	background-color: #151617 !important;	
}
.night .text-black {
	color: #a0a0a0 !important;
}
.night .bg-light {
	background-color: #1D1F20 !important;
}
.night .bg-light.panel-heading {
	background-color: #f5f5f5 !important;
}
.night .app-content-.night {
	background-color: #1D1F20 !important;	
}
.night .item-thumb-small {
	opacity: .3 !important;
}
.night .breadcrumb {
	background-color: #1D1F20 !important;
}
.night .text-second {
	background-color: #151617 !important;
}
.night .text-second a {
	color: #a0a0a0 !important;
}
.night .h5.text-second {
	background-color: transparent !important;
}
.night #post-content blockquote {
    border-left: 3px solid #a0a0a0!important;	
	background-color: #151617 !important;	
}
.night .text-title {
	color: #a0a0a0 !important;
}
.night .text-muted {
	color: #555 !important;
}
.night #toc {
	background-color: #151617 !important;
}
.night .tocify .active {
	background-color: #111 !important;
}
.night .post-tags a, .night .badge {
	background-color: #151617 !important;
	color: #555 !important;
}
.night .light-link img {
	opacity: .3 !important;
}
.night #post-content button {
	background-color: #151617 !important;
}

.night #comment {
	background-color: #111 !important;
}
.night .secret_comment_textarea {
	background: rgba(255,255,255, .8) !important;
	border-color: rgba(255,255,255, .8) !important;
	color:#000 !important;
}
.night .form-control {
	border-color: transparent !important;
}

.night .post_tab .nav {
	background: #1D1F20 !important;
}
.night .tab-container .tab-content  {
	background: #1D1F20 !important;
}
.night .post_tab .nav-item.active .nav-link:before {
	border-bottom-color: #a0a0a0 !important;
}
.night .wrapper {
	background: #1D1F20 !important;
}
.night .list-group-sp .list-group-item {
	background-color: #151617 !important;
}
.night .pager li>a, .night .pager li>span {
	background-color: #1D1F20 !important;
}
.night .book .comment-parent {
	background-color: transparent;	
}

.night .comment-parent {
	border-bottom-color: rgba(29, 31, 32, .3) !important;
}
.night .comment-children.son-pox {
	border-top: 1px solid rgba(29, 31, 32, .9) !important;
}
.night .mobile-lou {
	color: #333 !important;
}
.night .hideContent {
	background-color: rgba(29, 31, 32, .3) !important;
}
.night .click-parent{
	background: -moz-linear-gradient(to bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
    background: -webkit-linear-gradient(bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
    background: linear-gradient(to bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
}
.night .list-group-item .thumb-sm .img-square {
	border: 2px solid transparent !important;
}
.night .bg-white-opacity {
	background-color: rgba(0, 0, 0, .3) !important;
}
.night .about.panel, .night .about.panel .list-group-item {
	background-color: #151617 !important;
}
.night .tag-list .breadcrumb .button {
	color: #555 !important;
}
.night .tag-list .breadcrumb .button.on {
	border-bottom: 2px solid #a0a0a0 !important;
	color: #a0a0a0 !important;
}
.night .tags .item .tag {
	background-color: #1D1F20 !important;
}
.night .tags .item .tag .title, .night .soft-list .item .content .title {
	color: #a0a0a0 !important;
}
.night .soft-list .item .content {
	background-color: #1D1F20 !important;
}
.night .soft-list .item .content .desc {
	color: #555 !important;
}
.night .albums .album-thumb .img-wrap, .night .albums .image-thumb .img-wrap {
	background-color: #1D1F20 !important;
}
.night .album-thumb figcaption {
	background: transparent !important;
}
.night .templates .album-thumb figcaption a{
    color: #a0a0a0 !important;
}
.night .templates .album-thumb figcaption .meta-views {
    color: #555 !important;
}
.night .templates .album-thumb figcaption .meta-views span.meta-value a {
    color: #555 !important;
}
.night .albums .album-thumb img, .night .albums .image-thumb img {
	opacity: .5 !important;
}
.night .hbox .col {
	background-color: #151617 !important;

}

/*跟随系统模式*/
@media (prefers-color-scheme: dark) {

	body {
		background-color: #151617 !important;
		color: #a0a0a0 !important;
	}
	body .navbar-header {
		background-color: #1D1F20 !important;
		color: #a0a0a0 !important;
	}
	body .dedediy-icon {
		fill: #a0a0a0 !important;
	}
	body .navbar-collapse {
		background-color: #1D1F20 !important;
		color: #a0a0a0 !important;
	}
	body #easyLogin .wrapper, body #easyLogin .dropdown-menu {
		background-color: #151617 !important;
	}
	body #easyLogin .dropdown-menu>li>a {
		color: #a0a0a0 !important;
	}
	body .dropdown-menu>.active>a, body .dropdown-menu>.active>a:focus, body .dropdown-menu>.active>a:hover, body .dropdown-menu>li>a:focus, body .dropdown-menu>li>a:hover {
		background-color: #1D1F20 !important;
	}
	body #aside {
		background-color: #1D1F20 !important;
		color: #a0a0a0 !important;
	}
	body .normal-shadow {
		box-shadow: 2px 2px 3px transparent !important;
	}
	body #left_footer{
		background-color: #1D1F20 !important;
		color: #a0a0a0 !important;
	}
	body .bg-white .dk, body .bg-white .dker, body .bg-white .lt, body .bg-white .lter {
	    background-color: transparent !important;
	}
	body .bg-light .dk, body .bg-light.dk {
		background-color: transparent !important;
	}
	body .bg-white-only {
	    background-color: #1D1F20 !important;	
	}
	body .nav-tabs>li.active>a, body .nav-tabs>li.active>a:focus, body .nav-tabs>li.active>a:hover {
		color: #a0a0a0 !important;	
	}
	body .navs-slider-bar {
		background-color: #a0a0a0 !important;
	}
	body .panel, body .single-post, body .single-post.panel {
		background-color: #1D1F20 !important;
	}
	body .dropdown-menu .panel {
		border-radius: 0 !important;
	}
	body .bg-light.panel-footer, body .panel-footer {
		background-color: #1D1F20 !important;
	}
	body .panel-footer {
		border-top: 1px solid #333 !important;
	}
	body .panel.time-machine {
		background-color: #1D1F20 !important
	}
	body .timeMachine .comment-parent {
		border-bottom-color: transparent !important;
	}
	body .about.panel .list-group-item {
		border-color: #333 !important;
	}
	body .i-switch i:before {
		border:1px solid #19a9d5 !important;
		background-color: #19a9d5 !important;
	}
	body .i-switch i:after {
		background-color: #fff !important;
	}
	body .time-machine .arrow.left , body .time-machine .arrow.left:after {
		border-right-color: #151617 !important;
	}
	body .b-l {
		border-left: 1px solid #333 !important;
	}
	body .b-b {
	    border-bottom: 1px solid #333 !important;
	}
	body .single-post.panel {
		border: 1px solid #1D1F20 !important;
	}
	body .wrapper.bg-info {
		background-color: #151617 !important;
	}
	body .arrow.top.arrow-info:after {
		border-bottom-color: #151617 !important;
	}
	body .tab-content .wrapper-md.tab-pane,
	body .wrapper-md.widget {
		background-color: #1D1F20 !important;
	}
	body #post-panel {
		background-color: #151617 !important;	
	}
	body .text-black {
		color: #a0a0a0 !important;
	}
	body .bg-light {
		background-color: #1D1F20 !important;
	}
	body .bg-light.panel-heading {
		background-color: #f5f5f5 !important;
	}
	body .app-content-body {
		background-color: #1D1F20 !important;	
	}
	body .item-thumb-small {
		opacity: .3 !important;
	}
	body .breadcrumb {
		background-color: #1D1F20 !important;
	}
	body .text-second {
		background-color: #151617 !important;
	}
	body .text-second a {
		color: #a0a0a0 !important;
	}
	body .h5.text-second {
		background-color: transparent !important;
	}
	body #post-content blockquote {
	    border-left: 3px solid #a0a0a0!important;	
		background-color: #151617 !important;	
	}
	body .text-title {
		color: #a0a0a0 !important;
	}
	body .text-muted {
		color: #555 !important;
	}
	body #toc {
		background-color: #151617 !important;
	}
	body .tocify .active {
		background-color: #111 !important;
	}
	body .post-tags a, body .badge {
		background-color: #151617 !important;
		color: #555 !important;
	}
	body .light-link img {
		opacity: .3 !important;
	}
	body #post-content button {
		background-color: #151617 !important;
	}

	body #comment {
		background-color: #111 !important;
	}
	body .secret_comment_textarea {
		background: rgba(255,255,255, .8) !important;
		border-color: rgba(255,255,255, .8) !important;
		color:#000 !important;
	}
	body .form-control {
		border-color: transparent !important;
	}

	body .post_tab .nav {
		background: #1D1F20 !important;
	}
	body .tab-container .tab-content  {
		background: #1D1F20 !important;
	}
	body .post_tab .nav-item.active .nav-link:before {
		border-bottom-color: #a0a0a0 !important;
	}
	body .wrapper {
		background: #1D1F20 !important;
	}
	body .list-group-sp .list-group-item {
		background-color: #151617 !important;
	}
	body .pager li>a, body .pager li>span {
		background-color: #1D1F20 !important;
	}
	body .book .comment-parent {
		background-color: transparent;	
	}

	body .comment-parent {
		border-bottom-color: rgba(29, 31, 32, .3) !important;
	}
	body .comment-children.son-pox {
		border-top: 1px solid rgba(29, 31, 32, .9) !important;
	}
	body .mobile-lou {
		color: #333 !important;
	}
	body .hideContent {
		background-color: rgba(29, 31, 32, .3) !important;
	}
	body .click-parent{
		background: -moz-linear-gradient(to bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
	    background: -webkit-linear-gradient(bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
	    background: linear-gradient(to bottom, rgba(29, 31, 32, 0) -20%, rgba(29, 31, 32, 1)) !important;
	}
	body .list-group-item .thumb-sm .img-square {
		border: 2px solid transparent !important;
	}
	body .bg-white-opacity {
		background-color: rgba(0, 0, 0, .3) !important;
	}
	body .about.panel, body .about.panel .list-group-item {
		background-color: #151617 !important;
	}
	body .tag-list .breadcrumb .button {
		color: #555 !important;
	}
	body .tag-list .breadcrumb .button.on {
		border-bottom: 2px solid #a0a0a0 !important;
		color: #a0a0a0 !important;
	}
	body .tags .item .tag {
		background-color: #1D1F20 !important;
	}
	body .tags .item .tag .title, body .soft-list .item .content .title {
		color: #a0a0a0 !important;
	}
	body .soft-list .item .content {
		background-color: #1D1F20 !important;
	}
	body .soft-list .item .content .desc {
		color: #555 !important;
	}
	body .albums .album-thumb .img-wrap, body .albums .image-thumb .img-wrap {
		background-color: #1D1F20 !important;
	}
	body .album-thumb figcaption {
		background: transparent !important;
	}
	body .templates .album-thumb figcaption a{
	    color: #a0a0a0 !important;
	}
	body .templates .album-thumb figcaption .meta-views {
	    color: #555 !important;
	}
	body .templates .album-thumb figcaption .meta-views span.meta-value a {
	    color: #555 !important;
	}
	body .albums .album-thumb img, body .albums .image-thumb img {
		opacity: .5 !important;
	}
	body .hbox .col {
		background-color: #151617 !important;

	}
}